#include "ABOUT.RCH"

DLGTEMPLATE ID_ABOUTFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "About MailRun", ID_ABOUTFORM,
            0,0,210,130,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "MailRun", 1000,
            2,82,206,48,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_FOREGROUNDCOLOR,0x8000
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"24.Times New Roman Bold Italic.Outline"
    CONTROL "Version 1.42", 1001,
            2,84,206,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Copyright (C) 1997 by Gary L. Robinson", 1002,
            2,74,206,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "~OK", 1003,
            86,8,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "MailRun is a free, Open Source 32-bit program for OS/2 Warp, eComStation and ArcaOS.", 1004,
            16,18,180,50,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00006101 
            PRESPARAMS PP_FOREGROUNDCOLOR,0xbf8000
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"14.Helv"
  END
END

HELPSUBTABLE ID_ABOUTFORM
BEGIN
END
ICON ID_ABOUTFORM "\\MAILRUN.ICO"
