#include "DLOAD.RCH"

DLGTEMPLATE ID_DLOADFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Select base name for downloaded email file(s)", ID_DLOADFORM,
            0,0,230,61,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_ICON 
  BEGIN
    CONTROL "", 1000,
            14,31,201,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000000c 
            CTLDATA 12,260,0,0,0,0
    CONTROL "~OK", 1001,
            74,10,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "~Cancel", 1002,
            126,10,40,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Include full path but do NOT include a file extention", 1003,
            14,44,200,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", 1004,
            6,5,218,56,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_DLOADFORM
BEGIN
END
ICON ID_DLOADFORM "\\MAILRUN.ICO"
