#include "Main.RCH"

DLGTEMPLATE ID_MAINFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Mail Run", ID_MAINFORM,
            0,0,126,14,
            WS_VISIBLE | NOT FS_DLGBORDER , FCF_NOBYTEALIGN
  BEGIN
    CONTROL "", 1003,
            2,1,123,7,
            WC_STATIC, WS_VISIBLE | WS_DISABLED | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
    CONTROL "Mail Run", 1005,
            0,8,126,6,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"4.System VIO"
  END
END

HELPSUBTABLE ID_MAINFORM
BEGIN
END
ICON ID_MAINFORM "F:\\MAILRUN\\MAILRUN\\MAILRUN.ICO"
