#include "NCSET.RCH"

DLGTEMPLATE ID_NCSETFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Settings to integrate with NetChat", ID_NCSETFORM,
            0,0,242,96,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "~Save", 1000,
            64,12,50,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "~Cancel", 1001,
            126,12,50,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "Enable detection of NetChat hailing messages", 1002,
            20,76,212,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Notifiy of NetChat hail with beeps", 1003,
            34,64,168,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Start NetChat immediately to handle hail ", 1004,
            34,52,184,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1005,
            20,31,201,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,260,0,0,0,0
    CONTROL "Complete path to NetChat folder", 1006,
            18,42,204,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1007,
            6,4,230,92,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_NCSETFORM
BEGIN
END
ICON ID_NCSETFORM "F:\\MAILRUN\\MAILRUN\\MAILRUN.ICO"
