#include "NOTIFY1.RCH"

DLGTEMPLATE ID_NOTIFY1FORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "MailRun notification dialog", ID_NOTIFY1FORM,
            0,0,198,98,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "~OK", 1000,
            14,6,56,12,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "~OK-Suspend", 1001,
            72,6,82,12,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "", 1002,
            158,8,26,10,
            WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000119 
    CONTROL "MailRun - New Mail Notification!", 1003,
            12,54,174,40,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00006101 
            PRESPARAMS PP_FOREGROUNDCOLOR,0x8000
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"24.Times New Roman Bold Italic.Outline"
    CONTROL "", 1004,
            12,38,174,14,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"12.Helv"
    CONTROL "", 1005,
            6,36,186,22,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
    CONTROL "OK-Start preview", 1006,
            14,21,84,12,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "OK-Start program", 1007,
            100,21,84,12,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
  END
END

HELPSUBTABLE ID_NOTIFY1FORM
BEGIN
END
ICON ID_NOTIFY1FORM "\\MAILRUN.ICO"
