#include "PREVIEW.RCH"

DLGTEMPLATE ID_PREVIEWFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "MailRun Preview", ID_PREVIEWFORM,
            0,0,296,184,
            WS_VISIBLE | NOT FS_DLGBORDER , FCF_NOBYTEALIGN
  BEGIN
    CONTROL "", 1005,
            14,12,160,112,
            WC_LISTBOX, WS_VISIBLE | WS_CLIPCHILDREN | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000001c 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "~Close", 1010,
            252,12,30,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", 1001,
            15,135,159,8,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000002c 
            CTLDATA 12,80,0,0,0,0
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", 1002,
            16,157,265,8,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000002c 
            CTLDATA 12,2048,0,0,0,0
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", 1003,
            182,135,99,8,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000002c 
            CTLDATA 12,80,0,0,0,0
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Date/Time", 1006,
            14,145,48,7,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Subject", 1007,
            14,167,40,7,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Size", 1008,
            180,145,24,6,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "From", 1009,
            13,125,40,7,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", 1011,
            183,113,33,8,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000002c 
            CTLDATA 12,80,0,0,0,0
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", 1012,
            183,99,47,8,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000002c 
            CTLDATA 12,80,0,0,0,0
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Total messages", 1013,
            219,112,68,7,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Total bytes", 1014,
            233,98,54,7,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Q~uery mail", 1015,
            182,12,68,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "~Delete selected", 1000,
            182,60,100,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "D~ownload selected", 1004,
            182,28,68,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "Do~wnload All", 1016,
            182,44,100,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "D~elete All", 1018,
            182,76,100,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "~View", 1019,
            252,28,30,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
    CONTROL "", 1017,
            6,6,284,178,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_PREVIEWFORM
BEGIN
END
ICON ID_PREVIEWFORM "\\MAILRUN.ICO"
