#include "SETTINGS.RCH"

DLGTEMPLATE ID_SETTINGSFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Settings for Mail Run", ID_SETTINGSFORM,
            0,0,380,198,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_ICON 
  BEGIN
    CONTROL "Settings for Mail Run", 1000,
            12,178,356,14,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_FOREGROUNDCOLOR,0x800000
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"18.Tms Rmn Bold Italic"
    CONTROL "Domain name", 1001,
            142,154,58,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "User name", 1002,
            142,140,52,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Password", 1003,
            142,126,52,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1004,
            20,156,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,32,0,0,0,0
    CONTROL "", 1005,
            20,142,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,32,0,0,0,0
    CONTROL "", 1006,
            20,128,117,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000088 
            CTLDATA 12,32,0,0,0,0
    CONTROL " Internet account information ", 1007,
            12,122,196,54,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1008,
            212,62,60,10,
            WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000115 
    CONTROL "Autocheck (seconds)", 1009,
            274,62,92,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "~Save settings", 1019,
            212,10,76,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "~Cancel", 1020,
            292,10,76,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP 
    CONTROL "Minimize", 1021,
            220,144,62,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Every time MR checks for mail", 1011,
            222,88,142,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_GROUP | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Only when mail is found", 1012,
            222,78,142,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_GROUP | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL " Mail notification ", 1013,
            212,76,156,30,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "None", 1014,
            20,102,38,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_GROUP | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Beep", 1015,
            72,102,38,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_GROUP | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Flash", 1016,
            122,102,38,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_GROUP | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Popup dialog", 1017,
            20,92,72,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_GROUP | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Play .WAV file", 1018,
            104,92,74,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1022,
            116,83,79,8,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,260,0,0,0,0
    CONTROL " Program startup ", 1025,
            212,108,156,54,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_FOREGROUNDCOLOR,0x10000
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Autocheck", 1010,
            224,116,98,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_GROUP | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Check once", 1026,
            292,126,64,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_GROUP | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Autoclose in :", 1023,
            31,72,72,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1028,
            43,62,32,10,
            WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000115 
    CONTROL "seconds", 1029,
            77,62,40,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Don't check", 1031,
            224,126,64,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_GROUP | WS_TABSTOP | 0x00000804 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL " Mail messages", 1027,
            220,114,140,30,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Beep", 1032,
            31,82,80,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1024,
            34,39,161,8,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,260,0,0,0,0
    CONTROL "Start program on notification (or menu)", 1030,
            20,50,180,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Start MailRun Preview screen (or menu)", 1034,
            20,14,180,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1036,
            212,50,40,10,
            WC_SPINBUTTON, WS_VISIBLE | WS_TABSTOP | 0x00000117 
    CONTROL "Max. lines to download", 1035,
            254,50,112,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000401 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Start mail query on preview open", 1037,
            212,38,154,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Force window to float to top", 1038,
            212,28,154,10,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1039,
            34,27,105,8,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000008 
            CTLDATA 12,260,0,0,0,0
    CONTROL "Arguments", 1033,
            142,26,54,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000001 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL " Notifications methods ", 1040,
            12,10,196,110,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1041,
            6,4,368,194,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_SETTINGSFORM
BEGIN
END
ICON ID_SETTINGSFORM "F:\\MAILRUN\\MAILRUN\\MAILRUN.ICO"
