#include "VIEWMR.RCH"

DLGTEMPLATE ID_VIEWMRFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "", ID_VIEWMRFORM,
            0,0,359,161,
            WS_VISIBLE | NOT FS_DLGBORDER , FCF_NOBYTEALIGN
  BEGIN
    CONTROL "", 1000,
            4294967295,0,361,162,
            WC_MLE, WS_VISIBLE | WS_SYNCPAINT | WS_TABSTOP | 0x0000001f 
  END
END

HELPSUBTABLE ID_VIEWMRFORM
BEGIN
END
ICON ID_VIEWMRFORM "\\MAILRUN.ICO"
